@use '../../App';

.overlay {
    @include App.flex-center;
    background: rgba(0, 0, 0, 0.15);
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
}

.no-overlay {
    @include App.flex-center;
    width: fit-content;
}

.img-overlay {
    background: none;
}
