.edit-box {
    display: flex;
    margin: 3em 8em;
    width: 75%;
}

.input-box {
    width: fit-content(100%);
}

.list-box {
    padding-bottom: 0.2rem;
    padding-top: 0.2rem;
}

.reset-btn {
    width: 5rem;
    padding-bottom: 0.2rem;
    padding-top: 0.2rem;
}

.picture-box {
    width: 10rem;
    aspect-ratio: 1 / 1;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.bg-picture-box {
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 5rem;
}

.text-box {
    margin-top: 1rem;
    margin-bottom: 1rem;
    background: lightgrey;
    padding: 1rem;
    border-radius: 1rem;
}

.bio {
    height: 10rem;
    resize: none;
}

$container-width: 80%;
.row-container {
    display: grid;
    grid-template-columns: 3fr 6fr 2fr;
    width: $container-width;
    margin-left: auto;
    margin-right: auto;
}

.bio-container {
    display: grid;
    grid-template-columns: 9fr 2fr;
    width: $container-width;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}
