.quote {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    font-style: italic;
}

.feedback-button {
    position: absolute;
    bottom: 30px;
    right: 30px;
}
