.profile-box {
  display: flex;
  margin-left: 8rem;
  margin-right: 8rem;
  margin-top: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.profile-background {
  padding: 8rem;
}

.profile-picture {
  width: 10rem;
  aspect-ratio: 1 / 1;
  margin-top: -5rem;
}
