@use '../../App';
@use '../../util';

.pending-counter {
    $size: 1.35em;

    border-radius: 50%;
    background-color: App.$color-danger;
    width: $size;
    height: $size;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: -0.2em;
    right: -0.6em;
}

.pop-up {
    @include util.pop-up-common;
    background-color: App.$color-accent-2;
    right: 0;
    bottom: -25%;
}
