/* Color palette */

// Text
$color-text-1: #ffffff;
$color-text-2: #5b5b5b;

// Accents
$color-accent-1: #cccccc;
$color-accent-2: #525252;

// Background colors
$color-background-1: #1e1e1e;

// Status
$color-success: #588f45;
$color-danger: #d72a2a;

@mixin flex-center {
    display: flex;
    align-items: center !important;
    justify-content: center !important;
}

.fit-content {
    width: fit-content !important;
}

.flex-center {
    @include flex-center;
}

.no-wrap {
    white-space: nowrap;
}

.stretch-max {
    width: 100vw !important;
    height: 100vh !important;
}

.cursor-disabled:hover {
    cursor: not-allowed;
}

#root {
    background-color: $color-background-1;
}
