.form-element-bg {
    background: #d9d9d9;
}

.fit-content {
    width: fit-content !important;
}

@mixin flex-center {
    display: flex;
    align-items: center !important;
    justify-content: center !important;
}

.flex-center {
    @include flex-center;
}

.no-wrap {
    white-space: nowrap;
}

.stretch-max {
    width: 100vw !important;
    height: 100vh !important;
}

.cursor-disabled:hover {
    cursor: not-allowed;
}