/* Color palette */

// Text
$color-text-1: #ffffff;
$color-text-2: #5b5b5b;

// Accents
$color-accent-1: #cccccc;
$color-accent-2: #525252;

// Background colors
$color-background-1: #1e1e1e;

// Status
$color-success: #588f45;
$color-danger: #d72a2a;
$color-info: #1400c8;

// idk this is broken
body,
#root,
html {
    background-color: $color-background-1;
    min-height: 100vh;
    color: $color-text-1;
}

#err {
    position: absolute;
    top: 0;
    left: 50%;
    width: fit-content;
    transform: translate(-50%, 0);
}

.color-text-1 {
    color: $color-text-1;
}

.color-text-2 {
    color: $color-text-2;
}

.bg-accent-1 {
    background-color: $color-accent-1;
}

.bg-accent-2 {
    background-color: $color-accent-2;
}

.bg-color-success {
    background-color: $color-success;
}

.bg-color-danger {
    background-color: $color-danger;
}

.bg-color-info {
    background-color: $color-info;
}
