@use './App';

@mixin flex-center {
    display: flex;
    align-items: center !important;
    justify-content: center !important;
}

@mixin pop-up-common {
    position: absolute;
    padding: 1em;
    border-radius: 6px;
    transform: translateY(100%);
    width: max-content;
    box-shadow: 2px 2px 4px black;
}

.fit-content {
    width: fit-content !important;
}

.fit-content-h {
    height: fit-content !important;
}

.flex-center {
    @include flex-center;
}

.no-wrap {
    white-space: nowrap;
}

.text-required::after {
    content: '*';
    color: App.$color-danger;
}

.underline:hover {
    cursor: pointer;
    text-decoration: underline;
}

.pre-wrap {
    text-wrap: normal;
}

.cursor-disabled:hover {
    cursor: not-allowed;
}

.cursor-pointer:hover {
    cursor: pointer;
}

.w-1 {
    width: 1%;
}

/* Generates width classes from w-5 to w-100 in 5 percent increments. {e.g. w-5, w-10, w-15 etc.} */
@for $i from 1 through 20 {
    $v: $i * 5;
    .w-#{$v} {
        width: #{$v} + '%';
    }
}

@for $i from 1 through 20 {
    $v: $i * 5;
    .h-#{$v} {
        height: #{$v} + '%';
    }
}
